[submodule "themes/hugobase"]
	path = themes/hugobase
	url = https://github.com/crakjie/hugo-base-theme.git
[submodule "themes/assembly"]
	path = themes/assembly
	url = https://github.com/salsysd/hugo-assembly.git
